{% extends "base_tatakelola.html" %}

{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / Evaluasi dan Monitoring
{% endblock %}
{% block main %}

        <div class="row">
            <h2 class="text-center">Dashboard Evaluasi dan Monitoring</h2>

            <div class="col-md-6">
                <p>Total proyek: 2</p>
                {% if request.user.is_staff %}
                    <div class="form-group">
                        <label class="control-label" for="id_opd">
                            OPD
                        </label>
                        <select class="form-control" id="id_opd" name="opd" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PP">Dinas Kebakaran</option>
                            <option value="MI">Dinas Pendidikan</option>
                        </select>
                    </div>
                {% endif %}
            </div>

        </div>
        
            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                        {% if request.user.is_staff %}
                            <th>Nama OPD</th>
                        {% endif %}
                            <th>Nama Proyek</th>
                            <th>Terakhir Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evmon in emonitor %}
                            <tr>
                            {% if request.user.is_staff %}
                                <td><a href = "#">{{evmon.opd}}</a></td>
                            {% endif %}
                                <td><a href = "{% url 'tatakelola:evaluasipertahun' evmon.proyek.id %}">{{evmon.proyek.nama_proyek}}</a></td>
                                <td>{{evmon.proyek.updated}}</td>
                            </tr>
                        {% endfor %}
                        

                    </tbody>
                </table>
            </div>
        

{% endblock %}
