{% extends "base_tatakelola.html" %}

{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / <a href="{% url 'tatakelola:evaluasiMonitoring_dashboard' %}"> Evaluasi dan Monitoring</a> / Evaluasi Per Tahun
{% endblock %}
{% block main %}

        <div class="row">
            <h2 class="text-center">Evaluasi dan Monitoring</h2> <br />

        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    {% if request.user.is_staff %}
                        <th>Nama OPD</th>
                    {% endif %}
                        <th>Tahun</th>
                        <th>Terakhir Update</th>
                        <th>Isi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evmontahun in emonitor %}
                        <tr>
                        {% if request.user.is_staff %}
                            <td><a href = "#">{{evmontahun.opd}}</a></td>
                        {% endif %}
                            <td>{{evmontahun.tahun}}</td>
                            <td>{{evmontahun.proyek.updated}}</td>
                            <td><a href = "{% url 'tatakelola:monitoring' evmontahun.id %}">Lihat</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

{% endblock %}
