{% extends "base_tatakelola.html" %}

{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / Kebijakan
{% endblock %}
{% block main %}

        <div class="row">
            <h2 class="text-center">Dashboard Kebijakan</h2>

            {% if request.user.is_staff %}
                <div class="col-md-6">
                    <a href ="{% url 'tatakelola:kebijakan' %}""><button type="button" class="btn">Buat Usulan Kebijakan Baru</button></p></a>
                    <p>Total proyek: 2</p>
                    <div class="form-group">
                        <label class="control-label" for="id_opd">
                            OPD
                        </label>
                        <select class="form-control" id="id_opd" name="opd" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PP">Dinas Kebakaran</option>
                            <option value="MI">Dinas Pendidikan</option>
                        </select>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nomor Perwal</th>
                        <th>Nama Perwal</th>
                        <th>Proyek</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bijak in kebijakan %}
                    <tr>
                        <td>{{bijak.no_perwal}}</td>
                        <td>{{bijak.nama_perwal}}</td>
                        <td>{{bijak.proyek.nama_proyek}}</td>
                        <td>
                            <a href="{% url 'tatakelola:lihat_kebijakan' bijak.id %}"> Lihat </a><br>
                            <a href="{{bijak.file.url}}"> Download </a><br>
                        </td>
                    </tr>
                    {% endfor %}
                    

                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if kebijakan.has_previous %}
                    <a href="?page={{ kebijakan.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ kebijakan.number }} of {{ kebijakan.paginator.num_pages }}.
                </span>

                {% if kebijakan.has_next %}
                    <a href="?page={{ kebijakan.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

{% endblock %}
