{% extends "base_tatakelola.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/step.css' %}">
{% endblock %}
{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / <a href="{% url 'tatakelola:evaluasiMonitoring_dashboard' %}"> Evaluasi dan Monitoring </a> / Buat Baru Evaluasi dan Monitoring
{% endblock %}
{% include "tatakelola/step_base.html"%}

{% block main %}
        <h2 class="text-center">Monitoring</h2>

        <div class="row">
            <div class="col-md-6">
                {% bootstrap_form form %}

                {% if request.user.is_staff %}
                    <!--kominfo-->
                    <button type="button" class="btn btn-success">Accept</button>
                    <button type="button" class="btn btn-danger">Decline</button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#feedbackModal">Feedback</button>
                {% else %}
                    <button type="button" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-warning">Save as Draft</button>

                {% endif %}
            </div>
        </div>
        {% include "tatakelola/feedback.html" %}

{% endblock %}
