{% extends "base_tatakelola.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / Notifikasi
{% endblock %}
{% block main %}
<h1>{% trans "Notifikasi" %}</h1>
    <p><a href="/comment_filter/notifications_mark_all_as_read/"><span class="glyphicon glyphicon-ok"> </span> Mark all as read</a></p>
    {% for notif in notifs %}
        <div class="alert alert-success" role="alert">
            <p>{{notif.actor.comment_ptr.user_name}} was  <a href="">replied</a> on your comment ({{notif.timesince}}) ago</p>
        </div>
    {% endfor %}



{% endblock %}
