{% extends "base_tatakelola.html" %}

{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / Proyek
{% endblock %}
{% block main %}

        <div class="row">
            <h2 class="text-center">Dashboard Proyek</h2>

            {% if request.user.is_staff %}
                <div class="col-md-6">
                        
                    <div class="form-group">
                        <label class="control-label" for="id_opd">
                            OPD
                        </label>
                        <select class="form-control" id="id_opd" name="opd" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PP">Dinas Kebakaran</option>
                            <option value="MI">Dinas Pendidikan</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="id_kategori_aplikasi">
                            Langkah Terakhir
                        </label>
                        <select class="form-control" id="id_kategori_aplikasi" name="kategori_aplikasi" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PP">Perencanaan Sistem</option>
                            <option value="MI">Manajemen Belanja</option>
                        </select>
                    </div>
                </div>

            {% else %}
                <div class="col-md-12">
                    <a href ="{% url 'tatakelola:step1' %}""><button type="button" class="btn">Buat Proyek Baru</button></p></a>
                    <p>Total proyek: 2</p>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="id_kategori_aplikasi">
                            Langkah Terakhir
                        </label>
                        <select class="form-control" id="id_kategori_aplikasi" name="kategori_aplikasi" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PP">Perencanaan Sistem</option>
                            <option value="MI">Manajemen Belanja</option>
                        </select>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Proyek</th>
                        <th>Langkah Terakhir</th>
                        <th>Tanggal Pembuatan</th>
                        <th>Status</th>
                        <th>Terakhir Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for proyek_ in proyek %}
                    <tr>
                        <th scope="row">1</th>
                        <td><a href = "#">{{proyek_.nama_proyek}}</a></td>
                        <td>{{proyek_.latest_step}}</td>
                        <td>{{proyek_.created}}</td>
                        <td>{{proyek_.status}}</td>
                        <td>{{proyek_.updated}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

{% endblock %}
