{% extends "base_tatakelola.html" %}

{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / Proyek
{% endblock %}
{% block main %}

        <div class="row">
            <h2 class="text-center">Dashboard Proyek</h2>

            {% if request.user.is_staff %}
                <div class="col-md-6">
                        
                    <div class="form-group">
                        <label class="control-label" for="id_opd">
                            OPD
                        </label>
                        <select class="form-control" id="id_opd" name="opd" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PP">Dinas Kebakaran</option>
                            <option value="MI">Dinas Pendidikan</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="id_latest_step"> 
                            Langkah Terakhir
                        </label>
                        <select class="form-control" id="id_latest_step" name="latest_step" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PS">Perencanaan Sistem</option>
                            <option value="MB">Manajemen Belanja</option>
                            <option value="RS">Realisasi Sistem</option>
                            <option value="OS">Pengoperasian Sistem</option>
                            <option value="MS">Pemeliharaan Sistem</option>
                        </select>
                    </div>
                </div>

            {% else %}
                <div class="col-md-12">
                    <a href ="{% url 'tatakelola:step1' %}""><button type="button" class="btn">Buat Proyek Baru</button></p></a>
                    <p>Total proyek: 2</p>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="id_latest_step"> 
                            Langkah Terakhir
                        </label>
                        <select class="form-control" id="id_latest_step" name="latest_step" title="" required="">
                            <option value="" selected="selected">---------</option>
                            <option value="PS">Perencanaan Sistem</option>
                            <option value="MB">Manajemen Belanja</option>
                            <option value="RS">Realisasi Sistem</option>
                            <option value="OS">Pengoperasian Sistem</option>
                            <option value="MS">Pemeliharaan Sistem</option>
                        </select>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Proyek</th>
                        <th>Langkah Terakhir</th>
                        <th>Tanggal Pembuatan</th>
                        <th>Status</th>
                        <th>Terakhir Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for proyek_ in proyek %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href = "#">{{proyek_.nama_proyek}}</a></td>
                        <td>{{proyek_.get_latest_step_display}}</td>
                        <td>{{proyek_.created}}</td>
                        <td>{{proyek_.get_status_display}}</td>
                        <td>{{proyek_.updated}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if proyek.has_previous %}
                    <a href="?page={{ proyek.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ proyek.number }} of {{ proyek.paginator.num_pages }}.
                </span>

                {% if proyek.has_next %}
                    <a href="?page={{ proyek.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

{% endblock %}
