{% extends "base_tatakelola.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/step.css' %}">
{% endblock %}
{% block breadcrumb_menu %}
    <a href="{% url 'tatakelola:home' %}">Home</a> / <a href="{% url 'tatakelola:proyek_dashboard' %}">Proyek</a> / <a href="{% url 'tatakelola:step1' %}">Step1 </a> / <a href="{% url 'tatakelola:step2' %}">Step2 </a>/ Step3
{% endblock %}
{% include "tatakelola/step_base.html"%}

{% block main %}
        <h2 class="text-center">Proyek</h2>
        <h5><b>Milestone</b></h5>
        {% include "tatakelola/step_base.html"%}

        <div class="row">
            <div class="col-md-6">
                {% bootstrap_form form %}
                {% if request.user.is_staff %}
                <!--kominfo-->
                <div style="padding:5px 10px 20px 0px;">
                    <button type="button" class="btn btn-success" style="margin-right:25px;">Accept</button>
                    <button type="button" class="btn btn-danger" style="margin-right:25px;">Decline</button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#feedbackModal">Feedback</button>
                </div>

                {% else %}

                <div style="padding:5px 10px 20px 0px;">
                    <button type="button" class="btn btn-success" style="margin-right:25px;">Save</button>
                    <button type="button" class="btn btn-warning">Save as Draft</button>
                </div>

                <div class="row" style="margin-top: 50px">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Pemberi Feedback</th>
                                <th>Feedback</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>30/09/2017</td>
                                <td>Arief (197710192006041004)</td>
                                <td>Arsitektur tidak masuk akal</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {% endif %}

            </div>

        </div>

            
        {% include "tatakelola/feedback.html" %}

{% endblock %}
