{% extends "base_tatakelola.html" %}

{% block breadcrumb_menu %}
    <a href ="{% url 'tatakelola:home' %}">Home</a> / User
{% endblock %}
{% block main %}

        <div class="row">
            <h2 class="text-center">Dashboard User</h2>

            <div class="col-md-6">
                <a href ="{% url 'tatakelola:user' %}"><button type="button" class="btn">Buat User Baru</button></p></a>
                <div class="form-group">
                    <label class="control-label" for="jenis_user">
                        JENIS USER
                    </label>
                    <select class="form-control" id="jenis_user" name="jenis_user" title="" required="">
                        <option value="" selected="selected">---------</option>
                        <option value="OPD">OPD</option>
                        <option value="KOM">Diskominfo</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NIP</th>
                        <th>Nama</th>
                        <th>Jenis User</th>
                    </tr>
                </thead>
                <tbody>
                {% for user_ in userprofile %}
                    <tr>
                        <td><a href = "{% url 'tatakelola:user' %}">{{user_.id_pegawai}}</a></td>
                        <td>{{user_.NIP}}</td>
                        <td>{{user_.nama}}</td>
                        <td>{{user_.jenis_user}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

{% endblock %}
